.main {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%; 
    height: 100vh;
  }

  .Header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* width: 100%; */
    /* height: 100vh; */
  }


  video {
    /* margin-left: 4.4rem; */
    width: 100%;
    height: 90%;
    opacity: 0.3;
    object-fit: cover;
  }
  
  .content {
    position:absolute;
    /* line-height: 10rem; */
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .content p{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: poppins;
    margin-bottom: 40px;
  }
  .content h4{
    text-align: center;
    color: #b1b1b1;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .content h3{
    color: aqua;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: poppins;
  }

  
.slack_logo
{
height: 5rem;
width: 50%;

}

.slack_sec{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 300px;
    align-items: center;
margin-top: 3rem;
}

.slack_des{
   background-color: #246cb3 ;
   color: black;
   font-size: 2rem;
   padding: 0 10px;
   border-radius: 5px;
   cursor: pointer;
}

.slack_des:hover{
    background-color: #007efc ;
}

.slack_des a {
  color: #fff;

}

.slack_des a:visited{
  color: #fff;
}

@media screen and (max-width: 600px){

  .content p{
    font-size: 2rem;
  }

  .content h4{
    font-size: 0.8rem;
    margin-left:1rem;
  }
  .content h3{
    font-size: 1.3rem;
  }
  
  .slack_des{
    font-size: 1rem;
  }

}

@media screen and (max-width:900px) and (min-width:600px){
  .content p{
    font-size: 2.8rem;
  }

  .content h4{
    font-size: 1rem;
    margin-left:1rem;
  }
  .content h3{
    font-size: 1.5rem;
  }
  
  .slack_des{
    font-size: 1.5rem;
  }
}