.Navbar{
    display: flex;
    flex: 1;
    flex-direction: row;
     align-items: center; 
justify-content: space-between
}

.logo{
    display:inline-flex;
    /* justify-content: center; */
    align-items: center;
    color: #fff;

}

.logo_des{
font-family: poppins;
font-weight: 400 ;
font-size: 2rem;
color: var(--color-text)
}

.logo_img{
    height: 10%;
    width: 25%;
}

.Navbar_list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    color: #fff;
    flex-direction: row;
    margin-right: 5rem;
}

.Navbar_list li{
    margin-left: 1.4rem;
    font-size: 1.3rem;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    z-index: 2;
}

.Navbar_list li:hover{
    margin-left: 1.4rem;
    color: rgb(189, 189, 189);
    
}


a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

  .btn {
    background-color: #042c54; 
    color: white; 
    padding: 10px;
    font-size: 16px; 
    cursor: pointer;
    border : solid #042c54; 
    border-radius: 5px;
      }


.btn:hover{
        background-color: #246cb3; 
    }