li {
  text-align: left;
  margin-bottom: 7px;
  /* list-style-type: #128640; */
}
ul {
  margin-top: 0px;
  list-style-type: "\1F680";
}
img {
  width: 100%;
  margin: 0 0 0 0;
  padding-right: 0;
}
.socialsrow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.btn {
  color: #fff;
  /* position:static; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}
.card {
  background-color: transparent;
  border-radius: 2px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(146, 129, 129, 0.9);
  cursor: pointer;
  height: 15rem;
}
.card-img-top {
  width: 50%;
  border-radius: 100%;
  margin: 20px auto 0;
}
.card:hover {
  transform: scale(1.15);
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 15px rgba(122, 107, 107, 0.6);
}
.card-body {
  padding: 10px;
}

/* new styles  */

.AboutH1 {
  /* margin-bottom: 60px; */
  margin-top: 3rem;
  text-align: center;
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 300;
  /* text-transform: uppercase; */
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff; */
}
.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-left {
  color: white;
  font-size: 1.2rem;
  max-width: 600px;
}
.para-heading {
  margin-bottom: 2rem;
}

.bottom-c {
  margin: 5rem 0;
}

.join-heading {
  text-align: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .AboutH1 {
    font-size: 3rem;
  }

  .para-heading {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .first-container {
    flex-direction: column;
    padding: 2rem;
  }
  .para {
    font-size: 1.5rem;
    text-align: center;
  }

  .socialsrow {
    flex-direction: column;
    height: fit-content;
    margin: 2rem 0;
    gap: 5rem;
  }
  li {
    font-size: 1.5rem;
  }
  .first-right {
    order: 1;
  }

  .first-left {
    order: 0;
  }
}

@media screen and (max-width: 600px) {
  .AboutH1 {
    font-size: 2.2rem;
  }

  .para-heading {
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .first-container {
    flex-direction: column;
    padding: 1rem;
  }
  .para {
    /* font-size: 1rem; */
    text-align: center;
  }

  .socialsrow {
    flex-direction: column;
    height: fit-content;
    margin: 2rem 0;
    gap: 5rem;
  }
  .first-right {
    order: 1;
  }

  .first-left {
    order: 0;
  }
}
