/* Home */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
h5{
    font-size: 1.25rem;
    margin-left: 10%;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}
.Members_Head{
    display: flex;
    font-size: 1.7rem;
    color: #81AFDD;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}
h1 {
    color: #ffffff;
    font-family: poppins;
    font-size: 1.8rem;
    margin: 30px 0px 30px 0px;
}
h2{
    margin-left:15%;
}
.box {
    display: flex;
    /* width: 45.125rem; */
    /* width: 45.125rem; */
    border-radius: 1.625rem;
    background: #ffffff;
    backdrop-filter: blur(2px);
    margin-top: 1.25rem;
    padding: 1.25rem 0;
}
.header__profile {
    width: 4.5rem;
}
.profile{
border: 1px solid #fff ;
border-radius: 50%;
}

.icon a{
    width: 15%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;
    width: 90%;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input {
    width: 90%;
    height: 4.3125rem;
    margin: 0 auto;
    margin-bottom: 1.375rem;
    padding-left: 1.125rem;
}
.input-textarea {
    padding: 1rem 0;
    padding-left: 1.125rem;
    width: 90%;
    height: 4.3125rem;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}
.header__btn {
    width: 9.75rem;
    height: 3.8125rem;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.75rem 0.75rem;
    border-radius: 0.75rem;
}

/* Cards */
.carousal {
    margin-top: 1.25rem;
    padding: 1.25rem 0;
}
.carousal__card {
    width: 80%;
    background-color: white;
    padding: 20px 2.5rem;
    border-radius: 1.25rem 2.5rem;
    margin: 0 auto;
}
.carousal__card .carousal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;
}
.carousal__card .carousal__header .profile {
    width: 4.5rem;
}
/* Media */
@media only screen and (max-width: 767px) {
    .box {
        width: calc(100% - 40px);
        padding: 1.25rem;
    }
    .Members_Head{
        text-align: center;
    }
    .header__btn {
        width: 100%;
        margin-top: 1.25rem;
    }
    .input {
        width: 100%;
        margin-bottom: 1.25rem;
    }
    .input-textarea {
        width: 100%;
    }
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header__profile {
        margin-bottom: 1.25rem;
    }
    .header__btn {
        margin-top: 1.25rem;
        width: 100%;
    }
}